@import "tailwindcss";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  @font-face {
    font-family: "Geist";
    src: url("/fonts/geist-variable.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "Geist Mono";
    src: url("/fonts/geist-mono-variable.woff2") format("woff2");
    font-display: swap;
  }
  html.dark .astro-code,
  html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@utility menu-item {
  @apply font-medium text-zinc-500 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100;
}

@utility project-description {
  @apply text-sm text-zinc-500 prose-sm;
  @apply prose-h1:text-base prose-h1:font-normal dark:prose-h1:text-zinc-300 prose-h1:text-zinc-800;
  @apply prose-h2:text-base prose-h2:font-normal dark:prose-h2:text-zinc-300 prose-h2:text-zinc-800;
  @apply prose-strong:text-zinc-700 dark:prose-strong:text-zinc-300;
  @apply prose-a:text-zinc-500 dark:prose-a:text-zinc-300;
  @apply prose-a:hover:text-zinc-900 dark:prose-a:hover:text-zinc-100;
}
