---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/lib/constants";
import Layout from "@/layouts/Layout.astro";
import Socials from "@/components/Socials.astro";
import LatestPosts from "@/components/LatestPosts.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex flex-col justify-center"
>
  <main class="space-y-12">
    <section>
      <p>Hi, I'm Radu Ciocan, a software developer based in London, UK.</p>
      <p>
        I'm a T-shaped developer, with a strong focus on UX and product
        development. I build software with a focus on how people use it - from
        sketching ideas to shipping polished products.
      </p>
      <p>
        I work with early stage startups, helping them build products from 0 to
        1 or in the growth stage.
      </p>
      <p>
        Outside of coding, I explore the relationship between technology and art
        through photography.
      </p>
      <section>
        <p>You can reach me on: <Socials /></p>
      </section>
    </section>
    <LatestPosts />
  </main>
</Layout>
