---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/lib/constants";
import Layout from "@/layouts/Layout.astro";
import Socials from "@/components/Socials.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-xl flex-col justify-center"
>
  <main class="space-y-4">
    <p>Hi, I'm a software developer and entrepreneur.</p>
    <p>...</p>
    <section>
      <p>Reach me on: <Socials /></p>
    </section>
  </main>
</Layout>
