---
import { getCollection } from "astro:content";

import { SITE_DESCRIPTION, SITE_TITLE } from "@/lib/constants";
import Layout from "@/layouts/Layout.astro";
import Project from "@/components/Project.astro";

const collection = await getCollection("projects");
const projects = collection.sort((a, b) => a.data.order - b.data.order);
const softwareProjects = projects.filter(
  (project) => project.data.type === "software",
);
const otherProjects = projects.filter(
  (project) => project.data.type !== "software",
);

const title = `Projects | ${SITE_TITLE}`;
---

<Layout title={title} description={SITE_DESCRIPTION}>
  <main>
    <h2>Software</h2>
    <div class="space-y-4">
      {softwareProjects.map((project) => <Project {...project} />)}
    </div>
    <h2>Other creative work</h2>
    <div class="space-y-4">
      {otherProjects.map((project) => <Project {...project} />)}
    </div>
  </main>
</Layout>
